<ion-header>
    <ion-navbar>
        <ion-title>
            <p class="text-center"><ion-img src="./images/logo.png" class="center-block" width="72" height="45"></ion-img></p>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="check-ticket">
    <div class="search-result-wrapper">
        <ion-item>
            <ion-label>Loại bao: </ion-label>
            <ion-select [(ngModel)]="selectBao" (ngModelChange)="onChangeBao($event)" okText="Chọn" cancelText="Thoát" class="select-bao-type">
                <ion-option *ngFor="let item of bao"  (ngValue)="item" >{{ item }}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item (click)="nativeDatePicker()" class="select-kyxo">
            <ion-label>Kỳ xổ</ion-label>
            <ion-input type="text" disabled value="{{ selectedDate }}"></ion-input>
        </ion-item>
        <div class="search-result-show">
            <ion-button (click)="presentModal(selectBao)" class="show-table-button">Chọn bảng số</ion-button>
            <!--<ul class="ball-list">
                <li><a (click)="presentModal('ballNo1')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
                <li><a (click)="presentModal('ballNo2')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
                <li><a (click)="presentModal('ballNo3')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
                <li><a (click)="presentModal('ballNo4')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
                <li><a (click)="presentModal('ballNo5')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
                <li><a (click)="presentModal('ballNo6')"><div class="ball-number"><span class="ball-wrapper">??</span></div></a></li>
            </ul>-->
        </div>
        <div *ngIf="result == true" >
            <div class="prize-result">
                <div *ngIf="return.total == 0" >
                    <p class="text-center fail"><ion-icon name="sad"></ion-icon> Rất tiếc ! Bạn không trúng giải nào</p>
                </div>
                <table class="prize-table">
                    <thead>
                        <tr>
                            <td>Giải</td>
                            <td>Số lượng</td>
                            <td>Giá trị (đ)</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jackpot</td>
                            <td>{{return.detail.jackpot.number}}</td>
                            <td>{{return.detail.jackpot.price}}</td>
                        </tr>
                        <tr>
                            <td>Giải nhất</td>
                            <td>{{return.detail.prize1.number}}</td>
                            <td>{{return.detail.prize1.price}}</td>
                        </tr>
                        <tr>
                            <td>Giải nhì</td>
                            <td>{{return.detail.prize2.number}}</td>
                            <td>{{return.detail.prize2.price}}</td>
                        </tr>
                        <tr>
                            <td>Giải ba</td>
                            <td>{{return.detail.prize3.number}}</td>
                            <td>{{return.detail.prize3.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ion-content>