// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/result/result";

@import "../pages/sale-point/sale-point";

@import "../pages/ticket-map/ticket-map";

@import "../pages/check-ticket/check-ticket";

@import "../pages/map/map";

@import "../pages/search-result/search-result";

@import "../pages/modal-45/modal-45";

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin-ext,vietnamese';

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.toolbar-background {
    background: #D32F2F;
    border-color: #D32F2F;
}

ion-tabbar {
    background: #212121;
}

.tab-button {
    color: #fff;
    border-right: 1px solid #424242;
}

.tab-button-text {
    text-transform: uppercase;
}

.tab-button[aria-selected=true] {
    color: #fff;
    background: #424242;
}

.bar-button-default {
    color: #fff;
}

.bar-button-default {
    color: #fff;
}

.toolbar-title {
    color: #fff;
}

.toolbar-title p {
    color: #fff;
}

[tabsHighlight=true] tab-highlight {
    background: #424242;
}

.pull-left {
    float: left;
}

.page-title {
    margin-left: 1rem;
}
