.result {
    background: #fff;
}

.result .type-block {
    margin-bottom: 2rem;
}

.result h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 3rem;
    margin-top: 2rem!important;
}